body {
    font-family: 'Helvetica',sans-serif;
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

/*Header*/
.header {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.head-right {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 200px;
}

.head-left {
    display: flex;
    padding-right: 200px;
}

.logo{
    border-radius: 40%;
    width: 40px;
    height: 40px;
}

/*About*/
.about{
    height: 500px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding-bottom: 20px;
}

.about-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    gap: 10px;
}

.about-left{
    display: flex;
    align-items: center;
    padding-right: 200px;
}

.title{
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.about-info{
    width: 300px;
    margin: 0;
    color: #E5E7EB;
}

.button-signup{
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    border-radius: 5px;
    border: none;
    color: #E5E7EB;
    font-weight: bold;
    width: 90px;
    height: 30px;
    background-color: #3883F6;
}
.about-img{
    width: 400px;
    height: 300px;
}
.adopt-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.adopt{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 0px;
}

.adoption-img{
    border: #3883F6 3px solid;
    border-radius: 10px;
    width: 100px;
}

.adopt-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.squirrel-desc{
    text-align: center;
    margin: 0px;
}